.blogContainer {
  margin: 5%;

  h3 {
    font-size: 1.5em;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  button {
    background: var(--dark-bg-color);
    color: var(--color-primary-cta);
    padding: 0.7rem 1.5rem;
    border-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    position: absolute;
    bottom: 5%;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-cta-hover);
      font-weight: 900;
    }
  }

  button a {
    color: var(--color-primary-cta);

    &:hover {
      color: var(--color-primary-cta-hover);
      font-weight: 900;
    }
  }
}

@media screen and (max-width: 480px) {
  .blogContainer {
    h3 {
      margin-bottom: 0;
      margin-top: 0;
    }

    img {
      display: none;
    }

    button {
      position: relative;
    }
  }
}

@media screen and (max-width: 365px) {
}
