$background-color-new: #eee;

.section {
  height: var(--section-height);
  background: $background-color-new;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillCard {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 65%;
  height: 50%;
  position: relative;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //   overflow: hidden;
}

#skillCardLeftSection {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: left;

  .listSkills {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked ~ .label-base-skills {
        color: #d68441;
        border-right: solid 4px #d68441;
      }

      input[type="radio"]:checked ~ .content-skills {
        display: block;
        animation-name: slidein;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }
    }
  }
}

.label-base-skills {
  display: block;
  opacity: 0.5;
  font-size: 1.2rem;
  height: 50px;
  text-align: center;
  line-height: 50px;

  &:first-letter {
    text-transform: uppercase;
  }

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.content-skills {
  position: absolute;
  left: 35%;
  top: -400px;
  width: 65%;
  height: 90%;
  margin-top: 10%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;

  animation-name: slideout;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;

  .skills-img {
    width: 6em;
    height: 6em;
    margin: 0.5em 1em;
  }
}

.widecard-content-skills {
}

#skillCardMiddleBorder {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

#skillCardRightSection {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}

@media screen and (max-width: 480px) {
  .skillCard {
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
  }

  #skillCardLeftSection {
    height: 15%;
    flex-grow: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;

    .listSkills {
      display: flex;
      list-style: none;
      align-content: stretch;
      flex-direction: row;
      flex-grow: 1;
      margin: 0;
      height: 100%;
      padding: 10px 10px 0 10px;
      position: relative;

      li {
        margin-top: 0;

        input[type="radio"]:checked ~ .label-base-skills {
          color: #d68441;
          border-right: unset;
          border-bottom: solid 4px #d68441;
        }

        input[type="radio"]:checked ~ .content-skills {
          display: block;
          animation-name: slideinMobile;
          animation-duration: 0.75s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
        }
      }
    }
  }

  .label-base-skills {
    height: 40px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
  }

  .skill-html {
    left: 35%;
  }

  .skill-others {
    left: 70%;
  }

  .content-skills {
    position: relative;
    text-align: left;
    left: -400px;
    top: 55px;
    width: 90%;
    height: 30em;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
    padding-right: 0;
    padding-top: 10%;

    animation-name: slideoutMobile;
    // animation-duration: 0.75s;
    // animation-timing-function: ease-out;

    .skills-img {
      height: 5em;
      width: 5em;
    }
  }
  #skillCardMiddleBorder {
    background-color: #eee;
    height: 2px;
    flex-grow: 1;
    max-width: unset;
    width: 100%;
    z-index: 0;
  }

  #skillCardRightSection {
    background: #fff;
    height: 85%;
    width: 100%;
    flex-grow: 3;
  }
}
