@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --off-white: #fafafa;
  --dark-bg-color: #333;
  --color-primary-cta: #9a9b9c;
  --color-primary-cta-hover: #fff;
  --section-height: calc(100vh - 80px);
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.section {
  height: var(--section-height);
}

.section-dark {
  background: var(--dark-bg-color);
  color: white;
}

.section-content {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.profilePic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.home {
  height: var(--section-height);
  background: var(--dark-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home__cta-primary {
  background: var(--dark-bg-color);
  color: var(--color-primary-cta);
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  margin-right: 20px;
  border-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  cursor: pointer;
}

.home__cta-primary a {
  color: var(--color-primary-cta);
}

.home__cta-primary a:hover {
  color: var(--color-primary-cta-hover);
  font-weight: 900;
}

.home__cta-primary:hover {
  color: var(--color-primary-cta-hover);
  font-weight: 900;
}

.home__profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__intro-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}

.home__intro-section h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.home__intro-section h3 {
  margin-top: 0;
  font-weight: 200;
}

.social {
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding: 0 15px;
  font-size: 25px;
  color: var(--color-primary-cta);
}

.social i:hover {
  color: var(--color-primary-cta-hover);
}

.bold {
  font-weight: 700;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.widecard {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 10px 0px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.06);
}

.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.widecard-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  /* width: 100%; */
  margin: 0 20px 0 20px;
}

.widecard-img {
  height: 50px;
  width: 50px;
}

.widecard-content {
  padding: 10px;
  font-weight: 300;
}

.widecard-footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
}

.widecard-footer span {
  font-size: 85%;
  color: #666;
}

.widecard-light {
  background-color: #fff;
  color: #1b1d20;
  margin: 30px 0px 30px 0px;
}

.widecard-light:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: inset 0 0 10px #000000;
}

.widecard-light-content {
  padding: 20px;
}

.widecard-light-img {
  height: 100px;
  width: 100px;
  margin: 0 20px;
}

.ml10 {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
}
